*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-transform: capitalize;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #e74c3c;
}
.color{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
}
button{
    margin-top: 10px;
    padding: 10px 15px;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    transition: .3s;
}
button:active{
    transform: scale(.95);
}
